<!DOCTYPE html>
<html>
    <head>


        {% block head %}
            <title> Jean Machado</title>
        {% endblock %}
         
        <link rel="stylesheet" href="/styles.css">
    </head>        
    <body>
        <header>
            <div class="links">
                <a href="/">Sobre</a>
                <a href="/portfolio">Conteúdos</a>
            </div>
        </header>

        {% block content %}{% endblock %}

    
    </body>
</html>